/* ============================================================================
   EDITOR LAYOUT
   ============================================================================ */

.rte-editor {
  all: unset;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--rte-border);
  border-radius: var(--rte-radius, 0.5rem);
  background-color: var(--rte-bg, #ffffff);
  font-family: var(--rte-editor-font), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  box-shadow: var(
    --rte-shadow-1,
    0px 0px 0px 1px #d1d9e080,
    0px 6px 12px -3px #25292e0a,
    0px 6px 18px 0px #25292e1f
  );
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.rte-editor--full-screen {
  --rte-editor-max-height: auto;
  --rte-editor-min-height: auto;
  position: fixed;
  inset: 0;
  z-index: 50;
}

.rte-editor__container {
  min-height: var(--rte-editor-min-height);
  max-height: var(--rte-editor-max-height);
}


.rte-editor__content > .ProseMirror {
  flex-grow: 1;
  width: 100%;
  padding-block: 2.5rem;
  padding-inline: max(2.75rem, calc((100% - var(--rte-editor-max-width, 100%)) / 2));
}

.rte-editor__content:has(.ProseMirror-focused) {
  border-radius: calc(var(--rte-radius, 0.5rem) * 0.75);
  box-shadow: 0 0 0 2px var(--rte-primary);
}

.rte-source__content {
  position: relative;
  display: flex;
  flex: 1;
  min-height: var(--rte-editor-min-height);
  max-height: var(--rte-editor-max-height);
  overflow: auto;

}

.rte-source__content:has(.cm-focused) {
  border-radius: calc(var(--rte-radius, 0.5rem) * 0.75);
  box-shadow: 0 0 0 2px var(--rte-primary);
}

