@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --font-heading: var(--font-heading);
    --font-sans: var(--font-sans);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --color-foreground: var(--foreground);
    --color-background: var(--background);
    --radius-sm: calc(var(--radius) * 0.6);
    --radius-md: calc(var(--radius) * 0.8);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) * 1.4);
    --radius-2xl: calc(var(--radius) * 1.8);
    --radius-3xl: calc(var(--radius) * 2.2);
    --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
   --radius: 0.5rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.705 0.213 47.604);
  --primary-foreground: oklch(0.98 0.016 73.684);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.213 47.604);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.705 0.213 47.604);
  --sidebar-primary-foreground: oklch(0.98 0.016 73.684);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.213 47.604);

      /* Base theme colors */
  --rte-bg: #fff;
  --rte-fg: #1f2328;
  --rte-border: #d1d9e0;
  --rte-primary: #0969da;
  --rte-primary-fg: #fff;
  --rte-secondary: #f0f1f3;
  --rte-secondary-fg: #59636e;
  --rte-muted: #f6f8fa;
  --rte-muted-fg: #59636e;
  --rte-accent: #818b981f;
  --rte-accent-fg: #59636e;
  --rte-tooltip: #25292e;
  --rte-tooltip-fg: #f0f0f0;
  --rte-overlay: #32324d33;

    /* Syntax highlighting (GitHub Light theme) */
  --rte-hljs-comment: #6a737d;
  --rte-hljs-keyword: #d73a49;
  --rte-hljs-entity: #6f42c1;
  --rte-hljs-function: #6f42c1;
  --rte-hljs-variable: #005cc5;
  --rte-hljs-constant: #005cc5;
  --rte-hljs-string: #032f62;
  --rte-hljs-regexp: #032f62;
  --rte-hljs-markup: #22863a;
  --rte-hljs-builtin: #e36209;
  --rte-hljs-inserted: #34d058;
  --rte-hljs-deleted: #b31d28;
  --rte-hljs-changed: #e36209;
  --rte-hljs-ignored: #f6f8fa;

  /* Editor settings */
  --rte-editor-font-size: 15px;
  --rte-editor-line-height: 1.5;
  --rte-editor-font: var(--font-sans);
  --rte-editor-code-font: var(--font-mono);
  --rte-editor-code-bg: #f6f8fa;
  --rte-editor-scrollbar: #00000040;
  --rte-editor-selection: #2383e247;

  --rte-radius: 0.5rem;

  code span.shiki {
    color: var(--rte-shiki-light);
  }

  --background: oklch(1 0 0);

  --foreground: oklch(0.145 0 0)}

.dark {
      --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.646 0.222 41.116);
  --primary-foreground: oklch(0.98 0.016 73.684);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.646 0.222 41.116);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.646 0.222 41.116);
  --sidebar-primary-foreground: oklch(0.98 0.016 73.684);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.646 0.222 41.116);

      /* Dark theme colors */
  --rte-bg: #0d1017;
  --rte-fg: #f0f6fc;
  --rte-border: #3d444d;
  --rte-primary: #4493f8;
  --rte-tooltip: #3d444d;
  --rte-bubble: #151b23;
  --rte-overlay: #ffffff30;

  --rte-secondary: #2e373e;
  --rte-secondary-fg: #b1b8c0;
  --rte-muted: #1a2029;
  --rte-muted-fg: #b1b8c0;
  --rte-accent: #2d3440;
  --rte-accent-fg: #b1b8c0;

  /* Syntax highlighting (GitHub Dark theme) */
  --rte-hljs-comment: #8b949e;
  --rte-hljs-keyword: #ff7b72;
  --rte-hljs-entity: #d2a8ff;
  --rte-hljs-function: #d2a8ff;
  --rte-hljs-variable: #79c0ff;
  --rte-hljs-constant: #79c0ff;
  --rte-hljs-string: #a5d6ff;
  --rte-hljs-regexp: #a5d6ff;
  --rte-hljs-markup: #7ee787;
  --rte-hljs-builtin: #ffa657;
  --rte-hljs-inserted: #3fb950;
  --rte-hljs-deleted: #f85149;
  --rte-hljs-changed: #ffa657;
  --rte-hljs-ignored: #161b22;

  /* Editor settings */
  --rte-editor-code-bg: #1a2029;
  --rte-editor-scrollbar: #ffffff40;

  /* Box shadow */
  --rte-shadow-1:
    0px 0px 0px 1px #3d444d, 0px 6px 12px -3px #01040966,
    0px 6px 18px 0px #01040966;
  --rte-shadow-2:
    0px 0px 0px 1px #3d444d, 0px 8px 16px -4px #01040966,
    0px 4px 32px -4px #01040966, 0px 24px 48px -12px #01040966,
    0px 48px 96px -24px #01040966;
  --rte-shadow-3: 0px 0px 0px 1px #3d444d, 0px 24px 48px 0px #010409;

  code span.shiki {
    color: var(--rte-shiki-dark);
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply bg-background text-foreground;
    }
  html {
    @apply font-sans;
    }
}

:where(
    .ProseMirror > p.is-editor-empty:first-child,
    figcaption.is-empty
  )::before {
  @apply pointer-events-none float-left h-0 w-full text-muted-foreground content-[attr(data-placeholder)];
}

.ProseMirror .selectedCell:after {
  @apply pointer-events-none absolute inset-0 z-2 bg-primary content-[''];
}
.ProseMirror iframe,
.ProseMirror video {
  @apply mx-auto block h-auto max-w-full cursor-default;
}
.ProseMirror iframe {
  @apply pointer-events-none relative mx-auto my-0 aspect-video w-full;
}
.ProseMirror figure {
  @apply cursor-default select-none;
}
.ProseMirror figcaption {
  @apply text-center text-sm text-muted-foreground;
}
.ProseMirror pre {
  @apply whitespace-pre! border dark:bg-gray-900;
}
.ProseMirror .tableWrapper {
  @apply overflow-auto;
}
.ProseMirror table {
  @apply mx-auto table-fixed border-collapse overflow-hidden border text-sm;
}
.ProseMirror table th,
.ProseMirror table td {
  @apply relative border px-3 py-2 text-left align-top;
}
.ProseMirror table th {
  @apply bg-muted;
}
.ProseMirror table .column-resize-handle {
  @apply pointer-events-none absolute -bottom-0.5 -right-0.5 top-0 z-10 w-1 bg-primary;
}
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type {
  @apply text-[#ff7b72];
}
.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
  @apply text-[#d2a8ff];
}
.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-variable,
.hljs-selector-attr,
.hljs-selector-id,
.hljs-variable.language_ {
  @apply text-[#79c0ff];
}
.hljs-meta .hljs-string,
.hljs-regexp,
.hljs-string {
  @apply text-[#a5d6ff];
}
.hljs-built_in,
.hljs-symbol,
.hljs-params {
  @apply text-[#ffa657];
}
.hljs-code,
.hljs-comment,
.hljs-formula {
  @apply text-[#8b949e];
}
.hljs-name,
.hljs-quote,
.hljs-selector-tag,
.hljs-selector-pseudo {
  @apply text-[#7ee787];
}
.hljs-addition {
  @apply bg-[#1b4721] text-[#3fb950];
}
.hljs-deletion {
  @apply bg-[#78191b] text-[#f85149];
}
.hljs-changed {
  @apply text-[#ffa657];
}
.hljs-section {
  @apply font-bold text-[#79c0ff];
}
.hljs-emphasis {
  @apply italic;
}
.hljs-strong {
  @apply font-bold;
}

:root {

}

.dark {
  /* Dark theme colors */
  --rte-bg: #0d1017;
  --rte-fg: #f0f6fc;
  --rte-border: #3d444d;
  --rte-primary: #4493f8;
  --rte-tooltip: #3d444d;
  --rte-bubble: #151b23;
  --rte-overlay: #ffffff30;

  --rte-secondary: #2e373e;
  --rte-secondary-fg: #b1b8c0;
  --rte-muted: #1a2029;
  --rte-muted-fg: #b1b8c0;
  --rte-accent: #2d3440;
  --rte-accent-fg: #b1b8c0;

  /* Syntax highlighting (GitHub Dark theme) */
  --rte-hljs-comment: #8b949e;
  --rte-hljs-keyword: #ff7b72;
  --rte-hljs-entity: #d2a8ff;
  --rte-hljs-function: #d2a8ff;
  --rte-hljs-variable: #79c0ff;
  --rte-hljs-constant: #79c0ff;
  --rte-hljs-string: #a5d6ff;
  --rte-hljs-regexp: #a5d6ff;
  --rte-hljs-markup: #7ee787;
  --rte-hljs-builtin: #ffa657;
  --rte-hljs-inserted: #3fb950;
  --rte-hljs-deleted: #f85149;
  --rte-hljs-changed: #ffa657;
  --rte-hljs-ignored: #161b22;

  /* Editor settings */
  --rte-editor-code-bg: #1a2029;
  --rte-editor-scrollbar: #ffffff40;

  /* Box shadow */
  --rte-shadow-1:
    0px 0px 0px 1px #3d444d, 0px 6px 12px -3px #01040966,
    0px 6px 18px 0px #01040966;
  --rte-shadow-2:
    0px 0px 0px 1px #3d444d, 0px 8px 16px -4px #01040966,
    0px 4px 32px -4px #01040966, 0px 24px 48px -12px #01040966,
    0px 48px 96px -24px #01040966;
  --rte-shadow-3: 0px 0px 0px 1px #3d444d, 0px 24px 48px 0px #010409;

  code span.shiki {
    color: var(--rte-shiki-dark);
  }
}