@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;

    --rte-fg: #1f2328;
    --rte-border: #d1d9e0;
    --rte-primary: #0969da;
    --rte-primary-fg: #fff;
    --rte-secondary: #f0f1f3;
    --rte-secondary-fg: #59636e;
    --rte-muted: #f6f8fa;
    --rte-muted-fg: #59636e;
    --rte-accent: #818b981f;
    --rte-accent-fg: #59636e;
    --rte-tooltip: #25292e;
    --rte-tooltip-fg: #f0f0f0;
    --rte-overlay: #32324d33;

    --rte-hljs-comment: #8b949e;
    --rte-hljs-keyword: #ff7b72;
    --rte-hljs-entity: #d2a8ff;
    --rte-hljs-function: #d2a8ff;
    --rte-hljs-variable: #79c0ff;
    --rte-hljs-constant: #79c0ff;
    --rte-hljs-string: #a5d6ff;
    --rte-hljs-regexp: #a5d6ff;
    --rte-hljs-markup: #7ee787;
    --rte-hljs-builtin: #ffa657;
    --rte-hljs-inserted: #3fb950;
    --rte-hljs-deleted: #f85149;
    --rte-hljs-changed: #ffa657;
    --rte-hljs-ignored: #161b22;

    --rte-editor-code-bg: #1a2029;
    --rte-editor-scrollbar: #ffffff40;

    --rte-shadow-1: 0px 0px 0px 1px #3d444d, 0px 6px 12px -3px #01040966,
      0px 6px 18px 0px #01040966;
    --rte-shadow-2: 0px 0px 0px 1px #3d444d, 0px 8px 16px -4px #01040966,
      0px 4px 32px -4px #01040966, 0px 24px 48px -12px #01040966,
      0px 48px 96px -24px #01040966;
    --rte-shadow-3: 0px 0px 0px 1px #3d444d, 0px 24px 48px 0px #010409;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;

    --rte-fg: #f0f6fc;
    --rte-border: #3d444d;
    --rte-primary: #4493f8;
    --rte-tooltip: #3d444d;
    --rte-bubble: #151b23;
    --rte-overlay: #ffffff30;

    --rte-secondary: #2e373e;
    --rte-secondary-fg: #b1b8c0;
    --rte-muted: #1a2029;
    --rte-muted-fg: #b1b8c0;
    --rte-accent: #2d3440;
    --rte-accent-fg: #b1b8c0;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground;
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.85),
        rgba(255, 255, 255, 0.95)
      ),
      url('/background.svg');
  }
  .dark body {
    background-image: linear-gradient(
        rgba(13, 16, 24, 0.85),
        rgba(13, 16, 24, 0.95)
      ),
      url('/background.svg');
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.ProseMirror {
  @apply prose relative w-full flex-1 whitespace-pre-wrap py-7 outline-none dark:prose-invert;
}

.ProseMirror > * {
  @apply mt-5;
}

.ProseMirror > *:first-child {
  @apply mt-0;
}

:where(
    .ProseMirror > p.is-editor-empty:first-child,
    figcaption.is-empty
  )::before {
  content: attr(data-placeholder);
  float: left;
  color: var(--rte-muted-fg);
  pointer-events: none;
  width: 100%;
  height: 0;
}
.ProseMirror ::selection,
.ProseMirror .selection {
  background-color: var(
    --rte-editor-selection,
    tint-color(var(--rte-primary), 0.2)
  );
}
.ProseMirror .selectedCell:after {
  z-index: 2;
  position: absolute;
  content: '';
  inset: 0;
  background-color: var(
    --rte-editor-selection,
    tint-color(var(--rte-primary), 0.2)
  );
  pointer-events: none;
}

.ProseMirror iframe,
.ProseMirror video {
  display: block;
  max-width: 100%;
  height: auto;
  margin-inline: auto;
  cursor: default;
}
.ProseMirror iframe {
  width: 100%;
  margin: 0 auto;
  pointer-events: none;
  aspect-ratio: 16/9;
  position: relative;
}
.ProseMirror figure {
  cursor: default;
  user-select: none;
}
.ProseMirror figcaption {
  font-size: 90%;
  color: var(--rte-muted-fg);
  text-align: center;
  line-height: 1.4;
  cursor: text;
  padding: 0.5rem 1.5rem 0.25rem;
  margin-bottom: -0.25rem;
}

.ProseMirror pre {
  @apply !whitespace-pre border dark:bg-gray-900;
}

.ProseMirror .tableWrapper {
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--rte-editor-scrollbar, rgba(0, 0, 0, 0.2509803922))
    transparent;
}
.ProseMirror table {
  border: 1px solid var(--rte-border);
  font-size: 90%;
  overflow: hidden;
  border-collapse: collapse;
  table-layout: fixed;
  margin-inline: auto;
}
.ProseMirror table th,
.ProseMirror table td {
  border: 1px solid var(--rte-border);
  padding: 0.5rem 0.75rem;
  position: relative;
  vertical-align: top;
  text-align: left;
}
.ProseMirror table th {
  background-color: var(--rte-muted);
}
.ProseMirror table .column-resize-handle {
  background-color: var(--rte-primary);
  bottom: -2px;
  pointer-events: none;
  position: absolute;
  right: -1px;
  top: 0;
  width: 3.5px;
  z-index: 10;
}

.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type {
  color: var(--rte-hljs-keyword);
}
.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
  color: var(--rte-hljs-function);
}
.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-variable,
.hljs-selector-attr,
.hljs-selector-id,
.hljs-variable.language_ {
  color: var(--rte-hljs-variable);
}
.hljs-meta .hljs-string,
.hljs-regexp,
.hljs-string {
  color: var(--rte-hljs-string);
}
.hljs-built_in,
.hljs-symbol,
.hljs-params {
  color: var(--rte-hljs-builtin);
}
.hljs-code,
.hljs-comment,
.hljs-formula {
  color: var(--rte-hljs-comment);
}
.hljs-name,
.hljs-quote,
.hljs-selector-tag,
.hljs-selector-pseudo {
  color: var(--rte-hljs-markup);
}
.hljs-addition {
  color: var(--rte-hljs-inserted);
  background-color: #1b4721;
}
.hljs-deletion {
  color: var(--rte-hljs-deleted);
  background-color: #78191b;
}
.hljs-changed {
  color: var(--rte-hljs-changed);
}
.hljs-section {
  color: var(--rte-hljs-constant);
  font-weight: bold;
}
.hljs-emphasis {
  color: var(--rte-hljs-fg);
  font-style: italic;
}
.hljs-strong {
  color: var(--rte-hljs-fg);
  font-weight: bold;
}
